/* The side navigation menu */
.sidebar {
 
  margin-left: -30px;
  padding: 25px;
  padding-bottom: 0px;
  width: auto;
  background-color:whitesmoke;
  height: 100%;
  overflow: scroll;
  
}
.bton{
  width: 100%;
  background-color: rgb(243, 21, 95);
  color:white;
  border:none;
  height: 50px;
  margin-top: 30px;
  font-weight: bold;
  font-size:19px;
}


/* Sidebar links */
.sidebar a {
  display: block;
  color: rgb(36, 5, 175);
  font-weight: bold;
  padding: 16px;
  
}

/* Active/current link */
.sidebar a.active {
  background-color: rgb(36, 5, 175);
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: rgb(36, 5, 175);
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 101%;
    height: -webkit-fill-available;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


body {
  overflow-x: hidden;
}

 
/* card */

  
.adjust{
  margin-left: 20px;
  margin-right: -90px;
  padding: 20px;
}

.card-img-top{

  width: 100%!important;
  height: 200px!important;
  object-fit: cover;
  
}
.card{
  margin-right: 35px;
}




  

  